# Server
POST=8000
HOST=localhost

# Environment
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mydb
DATABASE_URL_TEST=DATABASE_URL=postgresql://user:password@localhost:5433/mydb

# Security
SECRET_KEY=my_secret_key

# JWT
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=900
REFRESH_TOKEN_EXPIRE_DAYS=43200
AUDIENCE="Your-service"

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_URL_TEST=redis://localhost:6378/0

# SQL
SQL_ECHO=False

# Cookie & CORS
HTTP_ONLY=True
HTTP_SECURE=False
SAME_SITE=lax
ALLOWED_ORIGINS_LIST=["https://localhost:8000"]

# JWT Issuer
ISSUER=myapp

# Idempotency property
IDEMPOTENCY_HEADER_NAME=X-Idempotency-Key
IDEMPOTENCY_TTL=30
